@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Poppins", sans-serif;
}

header{
    position: relative;
}

/* *************NAVBAR SECTION*****************/
.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    /* max-width: 1200px; */
    margin:0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.nav-brand{
   width: 33%;
   display: flex;
   align-items: center;
   justify-content: end;
}

.nav-logo{
    width: 2.5em;
    height: 1.8em;
    border-radius: 5px;
    margin-right: 2px;
    text-align: center;
    /* background-color: black; */
}

/* .logo-header{
    font-weight: bold;
    font-size: medium;
    color: white;
} */

.profile{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 30px;
    border: 1px solid black;
}

.logo-name{
    font-weight: 600;
    font-size: 1em;
}

.nav-list{
    width: 33%;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

li{
    list-style-type: none;
}

.links{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.nav-contact{
    width: 25%;
}

.btn-contact,.link-contact{
    margin-left: 30px;
    padding:5px 15px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #00b8e0;
    color: white;
    border: none;
    outline: none;
    transition: scale 0.5s;
}

.btn-contact:hover{
    transform: scaleX(1.1);
}

.toggle_btn{
    margin: 0 auto;
    color: #0aaa42;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    display: none;
    position: absolute;
    top: 80px;
    right:2rem;
    width: 150px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.dropdown_menu li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open{
    height: 180px;
}

.link-contact{
    width: 100%;
    margin: 0;
}


@media screen and (max-width: 690px) {
    .nav-list,.btn-contact{
        display: none;
    }

    .logo-name{
        font-size:0.82rem;
    }
    .nav-brand{
        width: 100%;
        margin-left: 15px;
        justify-content: start;
    }
    .toggle_btn{
        width: 50%;
        margin: 0 15px;
        text-align: right;
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media screen and (max-width: 420px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/********************END NAVBAR SECTION************************/

/*************************BANNER SECTION***************************/

.banner{
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
}

.slider-wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slider{
    display: flex;
    /* aspect-ratio: 16 / 9; */
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
    scrollbar-width: none;
}

.slider img{
    /* position: relative;  */
    width: 100%;
    height: 470px;
    flex: 1 0 100%;
    scroll-snap-align: start;
    /* object-fit: cover; */
}

.banner-card{
    position: absolute;
    top: 35%;
    left: 23%;
    width: 250px;
    color: #0aaa42;
}

.banner-text{
    font-size: small;
    color: black;
    font-weight: bold;
}

.banner-btn{
    background-color: #0aaa42;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 3px 10px;
    border-radius: 10px;
    
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #0aaa42;
    opacity: 0.7;
    transition: background-color ease 250ms;
}

.slider-nav a:hover{
    background-color: white;
}

/*******************END BANNER SECTION*********************/


.main-content{
    width: 100%;
    min-height: 500px;
    position: relative;
    padding: 30px 0 0 0;
}

/***********************SIDE TEXT***************************/
.side-text{
    position: absolute;
    width:100px ;
    height: 80%;
    top: 10%;
    right: 5px;
}

.side-text-word{
    width: auto;
    writing-mode: vertical-rl;
    font-size: 5rem;
    letter-spacing: 1rem;
    /* word-spacing: 1rem; */
    margin: 0;
    font-family: "Poppins",sans-serif;
    background: linear-gradient(#8ecae6,#e5e5e5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

@media  screen and (max-width:430px) {
    .side-text{
        width: 60px;
        height: 60%;
        top: 18%;
    }

    .side-text-word{
        font-size: 3rem;
    }
}

/*******************************END SIDE TEXT*****************/


/*******************ABOUT ME SECTION*********************/
.about-me{
    position: relative;
    width: 80%;
    height: 350px;
    margin: 50px auto;
}

.about-header{
    position: absolute;
    top: 8%;
    left: 36%;
    font-size: 4rem;
    /* font-weight:normal; */
    color: #0aaa42;
    letter-spacing:5px;
    z-index: 1;
    text-shadow: 2px 4px black;
}

.about_img1{
    position: absolute;
    left: 15%;
    width: 28%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
}

.about_img2{
    position: absolute;
    left: 35%;
    top: 55%;
    width: 8%;
    height: 25%;
    border-radius: 50%;
}

.about-card{
    position: absolute;
    left: 45%;
    top: 35%;
    width: 40%;
}

.lines{
    width: 70%;
    margin: 10px auto;
    height: 0.5rem;
    position: relative;
}

.lines::after,.lines::before{
    content: '';
    position: absolute;
    margin: auto;
    height: 3px;
    background-color: gray;
    width: 46%;
}

.lines::after{
    left: 0;
}

.lines::before{
    right: 0;
}

.dots{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.small_dot,.big_dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #0aaa42;
    opacity: 0.7;
    transition: background-color ease 250ms;
}
.big_dot{
    width: 0.8rem;
    height: 0.8rem;
}

@media  screen and (max-width:1025px) {
   body{
    font-size: 14px;
   }

   .about-me{
    width: 100%;
}

   .about-header{
    font-size: 3rem;
   }

   .dots{
    column-gap: 0.5rem;
    top: -2px;
   }

   .small_dot,.big_dot{
    width: 0.3rem;
    height: 0.3rem;
    }

    .big_dot{
        width: 0.5rem;
        height: 0.5rem;
    }
}

@media  screen and (max-width:430px) {
    body{
     font-size: 12px;
    }

    .about-me{
        max-height: 250px;
    }
 
    .about-header{
     top: 0;
     font-size: 2rem;
    }

    .about_img1{
        top: 18%;
        height: 40%;
    }

    .about_img2{
        left:32%;
        top: 50%;
        width: 10%;
        height: 10%;
    }

    .about-card{
        font-size: 10px;
        top: 20%;
    }

    .lines{
        margin-top: 28px;
        height: 1px;
    }

    .lines::after,.lines::before{
        height: 2px;
    }

    .dots{
        column-gap: 0.1rem;
        top: -3px;
    }
 }

 /************************ABOUT ME SECTION END******************************/


 /************************SKILLS SET SECTION START******************************/

 .skill-section{
    width: 80%;
    margin: 70px auto;
    min-height: 400px;
 }

 .skill-header{
    text-align: center;
    color: gray;
 }

 .skill-img{
    width: 60px;
    height: 60px;
 }

.skill-type-data{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-text{
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.skill-content{
    width: 100%;
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: start;
}

.skill-col{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.skill-bar{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-bar .info{
    width: 25%;
    font-weight: bold;
    font-size: large;
    padding-top: 15px;
}

.skill-bar .bar{
    width: 75%;
    height: 15px;
    background-color: #003049;
    border-radius: 25px;
    position: relative;
}

.html,.css,.js,.react,.jq,.php,.laravel,.mysql,.mongodb{
    height: 100%;
    position: absolute;
    background-color: blue;
    border-radius: 25px;
}

.html{
    width: 75%;
    animation: html 1s ease-in-out;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}

/* .css{
    width: 50%;
} */

.css{
    width: 85%;
    animation: css 2s ease-in-out;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}

.js{
    width: 60%;
}

.jq{
    width: 70%;
}

.react{
    width: 80%;
}

.php{
    width: 85%;
}

.laravel{
    width: 80%;
}

.mysql{
    width: 70%;
}

.mongodb{
    width: 60%;
}

@media screen and (max-width:770px) {
    .skill-section{
        height: auto;
    }

    .skill-bar{
        width: 90%;
    }
    
    .skill-bar .info{
        width: 35%;
        font-size:smaller;
    }

    .skill-bar .bar{
        width: 65%;
        height: 10px;
    }
}

@media screen and (max-width:480px) {
    .skill-content{
        grid-template-columns: 1fr;
    }
}

/*******************************END SKILLS SET SECTION********************************/


/*******************************EXPERIENCE SECTION START********************************/
.experiences{
    width: 100%;
    height: 550px;
    background-color: #e5e5e5;
    margin-top: 50px;
    position: relative;
}

.exp-header{
    text-align: center;
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

.exp-header-text{
    padding-top: 50px;
}

/* .exp-carousel{
 display: flex;
 align-items: center;
 justify-content: center;
} */

.slide-container{
    max-width: 1120px;
    width: 100%;
    height: 300px;
    background-color: #e5e5e5;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
}
/* .slide-content{
    margin: 0 40px;
} */

/* .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: center;
    justify-content: center;
} */

.slide-card{
    margin: 0 10px;
    /* width: 320px;*/
    border-radius: 25px;
    background-color: #fff;
}

.card-content{
/* font-size: 0.9rem; */
display: flex;
flex-direction: column;
align-items: start;
padding: 14px;
}

.card-image{
    position: relative;
    height: 250px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.time-interval{
    font-size: 0.7rem;
}

h6{
    font-size: 0.8rem;
    color: #00b8e0;
}

.company{
    font-size: 1rem;
    color: #2a9d8f;
}

.owl-nav{
    font-size: 20px;
}

.owl-prev,.owl-next{
    width: 20px;
}


@media  screen and (max-width:550px) {
    .experiences{
        min-height: 500px;
    }

    .exp-header-text{
        font-size: medium;
    }
}
/************************End Experience SEction****************************/

footer{
    position: relative;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media  screen and (max-width:550px) {
    footer{
        font-size:xx-small;
    }
}

/*###########################End home page#########################################*/

/**************************Profile**************************/