.experiences{
    width: 100%;
    height: 550px;
    background-color: #e5e5e5;
    margin-top: 50px;
    position: relative;
}

.exp-header{
    text-align: center;
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

.exp-header-text{
    padding-top: 50px;
}

/* .exp-carousel{
 display: flex;
 align-items: center;
 justify-content: center;
} */

.slide-container{
    max-width: 1120px;
    width: 100%;
    height: 300px;
    background-color: #e5e5e5;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
}
/* .slide-content{
    margin: 0 40px;
} */

/* .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: center;
    justify-content: center;
} */

.slide-card{
    margin: 0 10px;
    /* width: 320px;*/
    border-radius: 25px;
    background-color: #fff;
}

.card-content{
/* font-size: 0.9rem; */
display: flex;
flex-direction: column;
align-items: start;
padding: 14px;
}

.card-image{
    position: relative;
    height: 250px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.time-interval{
    font-size: 0.7rem;
}

h6{
    font-size: 0.8rem;
    color: #00b8e0;
}

.company{
    font-size: 1rem;
    color: #2a9d8f;
}

.owl-nav{
    font-size: 20px;
}

.owl-prev,.owl-next{
    width: 20px;
}

@media  screen and (max-width:550px) {
    .experiences{
        min-height: 500px;
    }

    .exp-header-text{
        font-size: medium;
    }
}